* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#222;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    color: #EEE;
    height:100vh;
    margin:0px;
    padding:0px;
    width:100%;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

h2 {
    padding-left: 5%;
}

.connected
{
    font-weight: bold;
    color: green
}

.logo
{
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
}

button
{
    width: 10em;
    height: 2em;
    border: none;
    border-radius: 4px;
    margin-right: 2%;
}

div
{
    text-align: center;
}

ul
{
    text-align: left;
}

input[type="range"]
{
    width: 90%;
    margin-top: 7%;
    margin-bottom: 2%;
}

span
{
    margin-right: 10%;
}

.outputData > div
{
    text-align: left;
    margin-left: 5%;
}

.outputData > div > div:first-child
{
    display: inline-block;
    text-align: left;
    width: 5em;
}

.radio
{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: red;
}

.true
{
    background-color: green;
}